{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}{% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block extrastyle %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" id="darkModeToggle">
              <i class="fas fa-moon"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               id="navbarDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              <i class="fas fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdown">
              <li>
                <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
                  {% csrf_token %}
                  <button class="dropdown-item" type="submit">{% translate 'Log out' %}</button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    {% include "admin/nav_sidebar.html" %}
    <div class="container-fluid">
      <main id="content-start" class="content" tabindex="-1">
        <!-- Messages -->
        {% block messages %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'info' %}alert-primary{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% endif %} alert-dismissible fade show"
                   role="alert">
                {% if message.tags == 'success' %}
                  <i class="fas fa-check-circle"></i>
                {% elif message.tags == 'info' %}
                  <i class="fas fa-info-circle"></i>
                {% elif message.tags == 'error' %}
                  <i class="fas fa-exclamation-circle"></i>
                {% elif message.tags == 'warning' %}
                  <i class="fas fa-exclamation-triangle"></i>
                {% endif %}
                {{ message|capfirst }}
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endblock messages %}
        <!-- Breadcrumbs -->
        {% block nav-breadcrumbs %}
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light rounded">
              <li class="breadcrumb-item">
                <a href="{% url 'admin:index' %}">Home</a>
              </li>
              {% if title %}<li class="breadcrumb-item active" aria-current="page">{{ title }}</li>{% endif %}
            </ol>
          </nav>
        {% endblock %}
        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">
          {% block pretitle %}{% endblock %}
          {% block content_title %}
            {% if title %}<h2>{{ title }}</h2>{% endif %}
          {% endblock %}
          {% block content_subtitle %}
            {% if subtitle %}<h3>{{ subtitle }}</h3>{% endif %}
          {% endblock %}
          {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
          {% endblock %}
          {% block sidebar %}{% endblock %}
          <br class="clear">
        </div>
        <!-- END Content -->
        {% block footer %}<div id="footer"></div>{% endblock %}
      </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
            
  </body>
</html>
