{% load i18n admin_urls %}
{% block submit-row %}
    {% if show_save_as_new %}
        <input type="submit" value="{% translate 'Save as new' %}" name="_saveasnew">
    {% endif %}
    {% if show_save_and_add_another %}
        <input type="submit"
               value="{% translate 'Save and add another' %}"
               class="btn mt-2 btn-outline-secondary"
               name="_addanother">
    {% endif %}
    {% if show_save_and_continue %}
        <input type="submit"
               class="btn mt-2 btn-outline-secondary"
               value="{% if can_change %}{% translate 'Save and continue editing' %}{% else %}{% translate 'Save and view' %}{% endif %}"
               name="_continue">
    {% endif %}
    {% if show_close %}
        {% url opts|admin_urlname:'changelist' as changelist_url %}
        <a href="{% add_preserved_filters changelist_url %}"
           class="btn mt-2 btn-outline-secondary">{% translate 'Close' %}</a>
    {% endif %}
    {% if show_delete_link and original %}
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <a href="{% add_preserved_filters delete_url %}"
           class="btn mt-2 btn-outline-danger">
            <i class="fas fa-trash"></i>
            {% translate "Delete" %}
        </a>
    {% endif %}
    {% if show_save %}
        <button type="submit" class="btn mt-2 btn-outline-primary" name="_save">
            <i class="fas fa-save"></i>
            {% translate 'Save' %}
        </button>
    {% endif %}
{% endblock %}
